:root{
    --darkBlue: #187E89;
    --lightBlue: #13A8B1;
    --orangeCream: #FFC382;
    --lightOrange: #FF7C35;
    --darkOrange:#D95E0A;
}

body{
    background-color: white;
}

header {
    background-color: var(--darkBlue);
    display: block;
}

nav {
    float: right; 
    margin: 25px;
    margin-top: 50px;
}

nav a {
    border: solid 3px var(--lightOrange);
    color: var(--orangeCream);
    text-decoration: none;
    padding: 12px 14px;

}

nav a:hover {
    background-color: var(--lightBlue);
}

.mainBody {
    width: 60%;
    height: 100%;
    margin-left: 15%;
    background-color: white;
    padding: 25px;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    background-color: var(--darkOrange);
}

p, li, a {
    font-size: 24px;
}

h1{
    font-size: 72px;
}

h2 {
    font-size: 56px;
}
 h3 {
     font-size: 42px;
 }