

main {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

table th {
    background-color: darkblue;
    color: white;
}

td {
    border: 1px solid black;
}

.item {
    height: 50px;
    font-size: 24px;
}

input[type='checkbox']:checked , .checked{
    text-decoration-line: line-through;
}

#filterContainer {
    display: flex;
    flex-direction: row ;
}

.deleteBtn {
    float: right;
    border: none;
    background-color: white;
    font-size: 24px;
}

.deleteBtn:hover {
    background-color: black;
    color: white;
}

.filterBtn {
    margin: 15px;
    border: none;
    background-color: white;
}

.filterBtn:hover {
    background-color: black;
    color: white;
}    

#showAllBtn {
    margin-left: 155px;
}

#footerForm {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

#newItemInput {
    margin-top: 100px;
    width: 85%;
    height: 50px;
    font-size: 24px;
}

#addNewItemBtn {
    height: 50px;
    width: 50px;
    padding: 5px;
}