@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --mainColor: #e5d3a7;
    --accentColor1: #6eebfd;
    --accentColor2: #bbdd5d;
    --fontColor: black;
}

header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-family: lobster, cursive;
    background-color: var(--accentColor2)
}

nav{
    margin: 25px;
    margin-top: 50px;
}

nav a {
    text-decoration: none;
    padding: 12px 14px;
    font-size: 26px;
}

nav a:hover {
    background-color: var(--accentColor1);
}

header h1 {
    font-size: 56px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#tableTitle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#instructions{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer {
    width: 100%;
    text-align: center;
    font-family: lobster, cursive;
    margin-top: 25px;
    background-color: var(--accentColor2);
}