@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
  --mainColor: #e5d3a7;
  --accentColor1: #6eebfd;
  --accentColor2: #bbdd5d;
  --fontColor: black;
}

body {
    margin: 0;
    padding: 0;
}

ul{
  padding-left: 0;
}

ul li {
    list-style: none;
}

li {
  margin-right: auto;
  margin-left: auto;
}

h2 {
  text-align: center;
  background-color: var(--accentColor2);
  margin: 25px;
  font-family: lobster, cursive;
  font-size: 36px;
}

.countryInfo {
  display: none;
  flex-direction: row;
  padding: 25px;
  height: 500px;
  font-size: 24px;
}

.countryStats {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

.countryFlag {
  width: 350px;
  height: 250px;
  border: 3px solid black;
}

.countryName:hover{
  cursor:pointer;
}

#pageTitle {
  text-align: center;
}